/*Jugar con el max-height y max-width -- Desktop 1024px*/

:root {
  --yellow: #fcb72b;
  --light-yellow: #fff4df;
  --blue: #495567;
  --dark-grey: #333a44;
  --grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;

  --space-mono: 'Space mono', monospace;
  --lexend-deca: 'Lexend deca', 'sans-serif';
  --bold: 700;
  --regular: 400;

  --body-size: 15px;
  --title-s: 20px;
  --title-m: 24px;
  --title-ml: 32px;
  --title-l: 40px;
  --title-xl: 48px;
  --title-xxl: 56px;

  --line-height-s: 25px;
  --line-height-m: 28px;
  --line-height-ml: 32px;
  --line-height-l: 48px;
  --line-height-xl: 56px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: var(--lexend-deca);
  font-weight: var(--regular);
  line-height: var(--line-height-s);
  font-size: var(--body-size);
}

/*main*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 24px 32px;
}

@media screen and (width>768px) {
  .header {
    justify-content: space-between;
    height: 96px;
    padding: 40px 22px;
  }
}

@media screen and (width>1024px) {
  .header {
    padding: 22px 96px;
    justify-content: flex-start;
    align-items: center;
  }
}

.hamburger {
  width: 20px;
  height: 16px;
}

@media screen and (width>768px) {
  .hamburger {
    display: none;
  }
}

.close {
  display: none;
  width: 20px;
  height: 16px;
}

@media screen and (width>768px) {
  .close {
    display: none;
  }
}

.logo {
  width: 76px;
  height: 20px;
  justify-self: center;
}

@media screen and (width>768px) {
  .logo {
    height: 29px;
    width: 108px;
    justify-self: flex-start;
  }
}

.menu {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  height: 603px;
  width: 100%;
  padding: 64px 32px 24px 32px;
  background-image: linear-gradient(
    to right,
    var(--dark-grey) 256px,
    rgba(0, 0, 0, 0.75) 256px 375px
  );
  translate: -100%;
  transition: translate 0.3s;
  z-index: 1;
}

@media screen and (width>768px) {
  .menu {
    flex-direction: row;
    align-items: center;
    translate: 0;
    position: static;
    height: 96px;
    width: 100%;
    padding: 36px;
    background-image: none;
    translate: 0;
    z-index: 1;
  }
}

@media screen and (width>1024px) {
  .menu {
    margin-left: 58px;
  }
}

.menu-show {
  translate: 0;
}

.menu-link {
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: 18px;
  line-height: var(--line-height-s);
  color: var(--grey);
}

@media (hover: hover) {
  .menu-link:hover {
    color: var(--yellow);
  }
}

.button {
  display: inline-block;
  width: 180px;
  height: 53px;
  padding: 14px;
  text-align: center;
  font-family: var(--space-mono);
  font-size: var(--body-size);
  line-height: var(--line-height-s);
  color: white;
  background-color: #fcb72b;
}

.menu-button {
  margin-top: 310px;
  width: 192px;
}

@media screen and (width>768px) {
  .menu-button {
    margin-top: 0;
    margin-left: 40px;
  }
}

@media screen and (width>1024px) {
  .menu-button {
    margin-left: 511px;
  }
}

@media (hover: hover) {
  .button:hover {
    border: 2px solid var(--yellow);
    background-color: #fff;
    color: var(--yellow);
    padding: 12px;
  }
}

/*main*/

/*first card*/

.dsk-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width>1024px) {
  .dsk-presentation {
    width: 500px;
  }
}

.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 115px 32px;
  height: 650px;
  color: #fff;
  background-image: url(../assets/images/home-hero-mobile.jpg);
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

@media screen and (width>768px) {
  .presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 137px 97px;
    height: 650px;
    color: #fff;
    background-image: url(../assets/images/home-hero-tablet.jpg);
    background-size: cover;
    overflow: hidden;
    z-index: 0;
  }
}

@media screen and (width>1024px) {
  .presentation {
    padding: 153px 165px;
    background-image: url(../assets/images/home-hero-desktop.jpg);
    align-items: flex-start;
  }
}

.circles-header {
  scale: 0;
}

@media screen and (width>768px) {
  .circles-header {
    scale: 1;
    position: absolute;
    top: 540px;
    right: -31px;
  }
}

@media screen and (width>1024px) {
  .circles-header {
    top: 422px;
  }
}

.presentation-header {
  font-family: var(--space-mono);
  font-size: var(--title-l);
  text-align: center;
  line-height: var(--title-l);
  letter-spacing: -2px;
  font-weight: var(--bold);
  margin: 0;
}

@media screen and (width>768px) {
  .presentation-header {
    font-size: var(--title-xxl);
    text-align: center;
    line-height: var(--title-xl);
    letter-spacing: -2, 5px;
    font-weight: var(--bold);
  }
}

@media screen and (width>1024px) {
  .presentation-header {
    text-align: left;
    margin-bottom: 40px;
  }
}

.presentation-text {
  font-family: var(--lexend-deca);
  font-size: var(--body-size);
  text-align: center;
  line-height: var(--line-height-s);
  font-weight: var(--regular);
  margin-bottom: 34px;
}

@media screen and (width>1024px) {
  .presentation-text {
    text-align: left;
    margin-left: 95px;
  }
}

.presentation-arrow {
  position: absolute;
  top: 478px;
  left: -250px;
}

@media screen and (width>768px) {
  .presentation-arrow {
    top: 473px;
    left: -140px;
  }
}

@media screen and (width>1024px) {
  .presentation-arrow {
    top: 353px;
    left: 705px;
  }
}

@media screen and (width>1024px) {
  .dsk-button {
    position: relative;
    left: -65px;
  }
}

.header-arrow-none {
  display: none;
}

@media screen and (width>1024px) {
  .header-arrow-none {
    display: block;
    position: absolute;
    top: 354px;
    left: 0;
  }
}

/*Second card*/

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  padding: 120px 32px;
}

@media screen and (width>768px) {
  .explanation {
    padding: 122px 98px;
    background-image: linear-gradient(to top, #ffffff 200px, transparent 200px),
      linear-gradient(to right, #fff 140px, var(--snow) 140px 155px, #fff 155px);
  }
}

@media screen and (width>1024px) {
  .explanation {
    flex-direction: row;
    margin-bottom: 200px;
    background-image: linear-gradient(
        to bottom,
        white 160px,
        transparent 160px 175px,
        #fff 175px
      ),
      linear-gradient(to right, var(--snow) 974px, transparent 974px);
  }
}

.explanation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 232px;
}

@media screen and (width>768px) {
  .explanation-card {
    flex-direction: row;
    align-items: flex-start;
    height: 130px;
    gap: 79px;
  }
}

@media screen and (width>1024px) {
  .explanation-card {
    flex-direction: column;
    gap: 40px;
  }
}

.explanation-icon {
  height: 56px;
  width: 56px;
}

@media screen and (width>768px) {
  .explanation-icon {
    height: 96px;
    width: 96px;
  }
}

.explanation-header {
  font-family: var(--space-mono);
  font-size: var(--title-s);
  line-height: var(--line-height-s);
  font-weight: var(--regular);
  color: var(--blue);
  margin: 0;
  text-align: center;
}

@media screen and (width>768px) {
  .explanation-header {
    font-size: var(--title-m);
    line-height: var(--line-height-m);
    font-weight: var(--bold);
    text-align: left;
    letter-spacing: -1px;
  }
}

.explanation-text {
  font-family: var(--lexend-deca);
  font-size: var(--body-size);
  line-height: var(--line-height-s);
  font-weight: var(--regular);
  color: var(--grey);
  text-align: center;
}

@media screen and (width>768px) {
  .explanation-text {
    text-align: left;
  }
}

/*description card*/

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  justify-content: space-between;
  padding-inline: 32px;
  overflow: hidden;
  margin-bottom: 120px;
}

@media screen and (width>768px) {
  .description {
    width: 768px;
  }
}

@media screen and (width>1024px) {
  .description {
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 720px);
    grid-template-rows: repeat(3, 445px);
    gap: 160px 0;
  }
}

@media screen and (width>1024px) {
  .locate-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .locate-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .locate-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .locate-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .locate-5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .locate-6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media screen and (width>768px) {
  .description-easy-box {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: radial-gradient(
      circle at center right,
      var(--snow) 220px,
      transparent 220px
    );
    background-position: 140px;
    background-repeat: no-repeat;
  }
}

@media screen and (width>1024px) {
  .description-easy-box {
    justify-content: flex-start;
    padding: 0 100px;
    background-position: 80px;
  }
}

.description-pic {
  height: 311px;
  width: 311px;
  border-radius: 50%;
}

@media screen and (width>768px) {
  .description-pic {
    height: 445px;
    width: 445px;
  }
}

.description-easy-arrow {
  position: absolute;
  max-width: 734px;
  left: 32px;
  top: 173px;
}

@media screen and (width>768px) {
  .description-easy-arrow {
    top: 300px;
  }
}

@media screen and (width>1024px) {
  .description-easy-arrow {
    left: 720px;
  }
}

.description-coming-arrow {
  position: absolute;
  max-width: 734px;
  left: -180px;
  top: 750px;
}

@media screen and (width>768px) {
  .description-coming-arrow {
    top: 900px;
    left: -100px;
  }
}

@media screen and (width>1024px) {
  .description-coming-arrow {
    top: 600px;
    left: -70px;
  }
}

@media screen and (width>768px) {
  .description-coming-box {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: radial-gradient(
      circle at center left,
      var(--snow) 220px,
      transparent 220px
    );
    background-position: -140px;
    background-repeat: no-repeat;
  }
}

.description-zero-arrow {
  position: absolute;
  max-width: 734px;
  left: 125px;
  top: 1503px;
}

@media screen and (width>768px) {
  .description-zero-arrow {
    top: 1900px;
    left: 400px;
  }
}

@media screen and (width>1024px) {
  .description-zero-arrow {
    top: 1300px;
    left: 1085px;
  }
}

.description-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 331px;
}

@media screen and (width>768px) {
  .description-text-box {
    height: 304px;
    width: 573px;
    margin-bottom: 50px;
  }
}

@media screen and (width>1024px) {
  .description-text-box {
    align-items: flex-start;
    margin-left: 120px;
  }
}

.description-text-header {
  text-align: center;
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-ml);
  line-height: var(--line-height-ml);
  letter-spacing: -1.43px;
  color: var(--blue);
  margin: 0;
}

@media screen and (width>768px) {
  .description-text-header {
    text-align: center;
    font-family: var(--space-mono);
    font-weight: var(--bold);
    font-size: var(--title-xl);
    line-height: var(--line-height-l);
    letter-spacing: -2.14px;
    color: var(--blue);
    margin: 0;
    width: 457px;
  }
}

@media screen and (width>1024px) {
  .description-text-header {
    text-align: left;
  }
}

.description-text-text {
  text-align: center;
  font-family: var(--lexend-deca);
  font-weight: var(--regular);
  font-size: var(--body-size);
  line-height: var(--line-height-s);
  color: var(--grey);
  margin: 24px;
}

@media screen and (width>768px) {
  .description-text-text {
    width: 573px;
  }
}

@media screen and (width>1024px) {
  .description-text-text {
    text-align: left;
  }
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
}

@media screen and (width>768px) {
  .footer {
    width: 100%;
  }
}

@media screen and (width>1024px) {
  .footer {
    width: 100%;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  background-image: url(../assets/patterns/semi-circles.svg);
  background-repeat: no-repeat;
  background-position: -607px bottom;
  padding: 88px 32px;
}

@media screen and (width>768px) {
  .footer-top {
    height: 300px;
    width: 100%;
    background-image: url(../assets/patterns/semi-circles.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 62px 155px;
  }
}

@media screen and (width>1024px) {
  .footer-top {
    flex-direction: row;
  }
}

.footer-text-header {
  text-align: center;
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-ml);
  line-height: var(--line-height-ml);
  letter-spacing: -1.43px;
  color: white;
  margin: 0;
}

@media screen and (width>768px) {
  .footer-text-header {
    font-size: var(--title-xl);
    line-height: var(--line-height-xl);
    letter-spacing: -2px;
  }
}

@media screen and (width>1024px) {
  .footer-text-header {
    width: 415px;
    text-align: left;
  }
}

.stores {
  display: flex;
  justify-content: space-between;
  width: 256px;
}

.app-store {
  width: 114px;
  height: 40px;
}

.google-play {
  width: 130px;
  height: 40px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 438px;
  padding: 64px 128px;
  background-color: var(--dark-grey);
}

@media screen and (width>768px) {
  .footer-bottom {
    flex-direction: row;
    height: 96px;
    justify-content: flex-start;
    padding: 39px 35px;
    gap: 59px;
  }
}

@media screen and (width>1024px) {
  .footer-bottom {
    padding: 35px 168px;
  }
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 74px;
  height: 107px;
}

@media screen and (width>768px) {
  .footer-links-container {
    flex-direction: row;
    width: 249px;
  }
}

.footer-link {
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: 15px;
  line-height: var(--line-height-s);
  color: var(--grey);
}

@media (hover: hover) {
  .footer-link:hover {
    color: var(--yellow);
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

@media screen and (width>768px) {
  .social-media {
    margin-left: 153px;
  }
}

@media screen and (width>1024px) {
  .social-media {
    margin-left: 570px;
  }
}

@media (hover: hover) {
  .social-media-icon:hover {
    filter: brightness(100);
  }
}

/*ABOUT PAGE*/

.about-top {
  position: relative;
  height: 160px;
  background-image: url(../assets/images/about-hero-mobile.jpg);
  padding: 60px 32px;
  text-align: center;
}

@media screen and (width>768px) {
  .about-top {
    height: 200px;
    background-image: url(../assets/images/about-hero-tablet.jpg);
    padding: 72px 97px;
    text-align: left;
  }
}

@media screen and (width>1024px) {
  .about-top {
    background-image: url(../assets/images/about-hero-desktop.jpg);
    padding: 72px 165px;
  }
}

.top-header {
  font-family: var(--space-mono);
  font-weight: var(--bold);
  color: #fff;
  font-size: var(--title-l);
  line-height: 40px;
  letter-spacing: -1.78px;
  margin: 0;
}

@media screen and (width>768px) {
  .top-header {
    font-size: var(--title-xl);
    line-height: var(--line-height-xl);
    letter-spacing: -2.5px;
  }
}

@media screen and (width>1024px) {
  .top-header {
    font-size: var(--title-xxl);
    line-height: var(--line-height-xl);
    letter-spacing: -2.5px;
  }
}

.circles-header-pages {
  scale: 0;
}

@media screen and (width>768px) {
  .circles-header-pages {
    scale: 1;
    position: absolute;
    top: 70px;
    right: -30px;
  }
}

.description-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 72px 32px;
  overflow: hidden;
}

@media screen and (width>1024px) {
  .description-about {
    position: relative;
    left: 0;
    width: 1440px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 720px);
    grid-template-rows: repeat(2, 445px);
    gap: 120px 0;
  }
  .about-pos-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about-pos-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .about-pos-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .about-pos-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media screen and (width>768px) {
  .description-box-digital {
    display: flex;
    justify-content: center;
    width: 768px;
    background-image: radial-gradient(
      circle at center right,
      var(--snow) 220px,
      transparent 220px
    );
    background-position: 140px;
    background-repeat: no-repeat;
    margin-bottom: 56px;
  }
}

@media screen and (width>768px) {
  .description-box-better {
    display: flex;
    justify-content: center;
    width: 768px;
    background-image: radial-gradient(
      circle at center left,
      var(--snow) 220px,
      transparent 220px
    );
    background-position: -140px;
    background-repeat: no-repeat;
  }
}

.description-digital-arrow {
  position: absolute;
  max-width: 734px;
  left: 32px;
  top: 200px;
}

@media screen and (width>768px) {
  .description-digital-arrow {
    top: 330px;
    max-width: 768px;
  }
}

@media screen and (width>1024px) {
  .description-digital-arrow {
    left: 765px;
  }
}

.description-better-arrow {
  position: absolute;
  max-width: 734px;
  left: -105px;
  top: 730px;
}

@media screen and (width>768px) {
  .description-better-arrow {
    top: 930px;
  }
}

@media screen and (width>1024px) {
  .description-better-arrow {
    top: 630px;
  }
}

.about-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 196px;
  margin-top: 56px;
  margin-bottom: 100px;
}

@media screen and (width>1024px) {
  .text-about {
    width: 445px;
    text-align: left;
    margin-top: 24px;
  }
}

/*Values*/

.values {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  padding-inline: 32px;
  margin-bottom: 135px;
}

@media screen and (width>1024px) {
  .values {
    margin-bottom: 80px;
  }

  .values-container {
    display: flex;
    gap: 30px;
  }
  .values-header-txt {
    text-align: center;
  }
}

.values-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 459px;
  width: 311px;
}

@media screen and (width>1024px) {
  .values-box {
    height: 512px;
    width: 350px;
  }
}

.img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  margin-bottom: 64px;
}

.values-number {
  position: absolute;
  top: 190px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background-color: var(--yellow);
  padding: 34px 34px;
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-m);
  line-height: var(--line-height-m);
  letter-spacing: -1px;
}

.values-header {
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-m);
  line-height: var(--line-height-m);
  letter-spacing: -1px;
  margin: 0;
}

.values-txt {
  font-family: var(--lexend-deca);
  font-size: var(--body-size);
  text-align: center;
  line-height: var(--line-height-s);
  font-weight: var(--regular);
}

@media screen and (width>768px) {
  .values-txt {
    width: 457px;
  }
}

@media screen and (width>768px) {
  .values-txt {
    width: 350px;
  }
}

/*FAQs*/

.faqs {
  margin-inline: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 90px;
}

@media screen and (width>1024px) {
  .faqs {
    display: grid;
    grid-template-columns: 512px 730px;
    grid-template-rows: 176px repeat(2, auto);
    gap: 64px 0;
  }
  .faqs-pos-1 {
    grid-column: 1 / 3;
    grid-row: 1/2;
    padding-top: 64px;
  }
  .faqs-pos-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .faqs-pos-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .faqs-pos-4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .faqs-pos-5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.description-faqs-header {
  text-align: center;
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-ml);
  line-height: var(--line-height-ml);
  letter-spacing: -1.43px;
  color: var(--blue);
  margin: 0;
}

@media screen and (width>768px) {
  .description-faqs-header {
    font-size: var(--title-xl);
    line-height: var(--line-height-xl);
    letter-spacing: -2.14px;
  }
}

.faqs-header-two {
  font-family: var(--space-mono);
  font-weight: var(--bold);
  font-size: var(--title-m);
  line-height: var(--line-height-m);
  color: var(--blue);
  text-align: center;
  letter-spacing: -1px;
}

@media screen and (width>768px) {
  .faqs-header-two {
    font-size: var(--title-l);
    line-height: var(--line-height-l);
    letter-spacing: -1.79px;
  }
}

.faqs-container faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individual-accordion-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.accordion-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  padding: 32px;
  background-color: var(--snow);
}

@media (hover: hover) {
  .accordion-box:hover {
    background-color: var(--light-yellow);
  }
}

.accordion-header {
  font-family: var(--space-mono);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--blue);
  text-align: left;
  margin: 0;
  width: 219px;
}

@media screen and (width>768px) {
  .accordion-header {
    font-size: var(--title-m);
    line-height: var(--line-height-m);
    width: 470px;
  }
}

.accordion-arrow {
  width: 16px;
  height: 8px;
  transform: rotate(180deg);
}

.arrow-turn {
  transform: rotate(360deg);
}

.accordion-text {
  font-family: var(--lexend-deca);
  font-size: var(--body-size);
  text-align: left;
  padding: 0 32px 28px 32px;
  line-height: var(--line-height-s);
  font-weight: var(--regular);
  background-color: var(--snow);
  margin: 0;
  scale: 1;
}

.accordion-hide {
  display: none;
}

.pointer-none {
  pointer-events: none;
}

/*careers*/

.careers-top {
  height: 160px;
  background-image: url(../assets/images/careers-location-hero-mobile.jpg);
  padding: 60px 32px;
  text-align: center;
}

@media screen and (width>768px) {
  .careers-top {
    position: relative;
    height: 200px;
    text-align: left;
    padding: 72px 97px;
    background-image: url(../assets/images/careers-locations-hero-tablet.jpg);
  }
}

@media screen and (width>1024px) {
  .careers-top {
    background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
    padding: 72px 165px;
  }
}

.careers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width>1024px) {
  .careers {
    flex-direction: row;
    justify-content: center;
    margin-left: 165px;
  }
  .careers-1 {
    order: 0;
  }
  .careers-0 {
    order: -1;
  }
}

@media screen and (width>1024px) {
  .text-short {
    width: 445px;
  }
  .button-careers {
    align-self: flex-start;
  }
}

.description-careers-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 72px 32px;
  overflow: hidden;
}

@media screen and (width>768px) {
  .description-careers-about {
    position: relative;
    display: flex;
    justify-content: center;
    width: 768px;
    background-image: radial-gradient(
      circle at center right,
      var(--snow) 220px,
      transparent 220px
    );
    background-position: 140px;
    background-repeat: no-repeat;
  }
}

.description-careers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 72px 32px;
  overflow: hidden;
}

.description-careers-arrow {
  position: absolute;
  max-width: 734px;
  left: 32px;
  top: 235px;
}

@media screen and (width>768px) {
  .description-careers-arrow {
    top: 370px;
  }
}

.values-careers {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  padding-inline: 32px;
  margin-bottom: 142px;
}

@media screen and (width>768px) {
  .values-careers {
    margin-top: 120px;
  }
}

.description-careers-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 331px;
}

.positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 311px;
  margin-inline: auto;
  margin-bottom: 120px;
}

@media screen and (width>768px) {
  .positions {
    width: 689px;
  }
}

@media screen and (width>1024px) {
  .positions {
    width: 1110px;
  }
}

.each-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 311px;
  height: 190px;
  background-color: var(--snow);
}

@media screen and (width>768px) {
  .each-position {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 689px;
    padding: 34px 48px;
  }
}

@media screen and (width>1024px) {
  .each-position {
    width: 1110px;
    padding: 35px 40px;
  }
}

.role-and-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width>768px) {
  .role-and-location {
    align-items: flex-start;
  }
}

.role {
  font-family: var(--space-mono);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--blue);
  margin: 0;
}

@media screen and (width>768px) {
  .role {
    font-size: var(--title-m);
    line-height: var(--line-height-m);
  }
}

.role-locations {
  font-family: var(--lexend-deca);
  font-size: var(--body-size);
  line-height: var(--line-height-s);
  color: var(--blue);
}

/*locations*/

.locations-top {
  position: relative;
  height: 160px;
  background-image: url(../assets/images/careers-location-hero-mobile.jpg);
  padding: 60px 32px;
  text-align: center;
}

@media screen and (width>768px) {
  .locations-top {
    background-image: url(../assets/images/careers-locations-hero-tablet.jpg);
  }
}

@media screen and (width>1024px) {
  .locations-top {
    background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
    padding: 72px 165px;
  }
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  gap: 16px;
  margin-bottom: 94px;
}

@media screen and (width>1024px) {
  .locations {
    padding: 0;
  }
}

@media screen and (width>768px) {
  .locations-top {
    height: 200px;
    padding: 72px 97px;
    text-align: left;
  }
}

@media screen and (width>1024px) {
  .main-locations {
    padding: 72px 32px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-left: 144px;
  }
}

.city-not-listed {
  margin-bottom: 72px;
}

@media screen and (width>768px) {
  .city-not-listed {
    margin-bottom: 120px;
  }
}

@media screen and (width>1024px) {
  .city-not-listed {
    width: 1111px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 105px;
  }
}

.location {
  width: 311px;
  height: 72px;
  text-align: center;
  font-family: var(--space-mono);
  font-size: var(--title-m);
  line-height: var(--line-height-m);
  font-weight: var(--bold);
  color: var(--blue);
  letter-spacing: -1px;
  background-color: #fcb62b42;
  padding: 22px;
}

.new-york {
  margin: 0;
}
.london {
  margin: 0;
}
.jakarta {
  margin: 0;
}
.yokohama {
  margin: 0;
}

@media screen and (width>768px) {
  .location {
    position: relative;
    background-color: var(--yellow);
    height: 40px;
    width: 120px;
    font-size: 13px;
    padding: 6px 30px;
  }
  .location::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 50px;
    height: 16px;
    width: 16px;
    rotate: 45deg;
    background-image: linear-gradient(
      to top left,
      var(--yellow) 50%,
      transparent 50%
    );
  }
  .new-york {
    position: absolute;
    top: 406px;
    left: 137px;
  }
  .london {
    position: absolute;
    top: 380px;
    left: 285px;
  }
  .jakarta {
    position: absolute;
    top: 525px;
    left: 519px;
  }
  .yokohama {
    position: absolute;
    top: 420px;
    left: 569px;
  }
}

@media screen and (width>1024px) {
  .new-york {
    position: absolute;
    top: 530px;
    left: 440px;
  }
  .london {
    position: absolute;
    top: 490px;
    left: 675px;
  }
  .jakarta {
    position: absolute;
    top: 725px;
    left: 1064px;
  }
  .yokohama {
    position: absolute;
    top: 555px;
    left: 1130px;
  }
}
